<th:block th:fragment="class-report" xmlns:th="http://www.w3.org/1999/xhtml">
    <style>
    </style>
    <template id="class-report-t">
        <div class="class-report">
            <div class="learning-title2">学习报告</div>
            <div class="pt-30 clear-fix">
                页面开发中...
            </div>
        </div>
    </template>
    <script>
        var classReport={
            data: function () {
                return {
                }
            },
            template: '#class-report-t',
            created:function(){
            },
            methods: {
            }
        }

    </script>
</th:block>
