<th:block th:fragment="p-clicking-pairs" xmlns:th="http://www.w3.org/1999/xhtml">
    <style>
        .p-cp{
            display: flex;
            flex-direction: row;
            padding:0;
            height:100%;
        }
        .p-cp-left{
            display: flex;
            width:73%;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }
        .p-cp-container{
            display:flex;
            flex-direction: column;
            width:100%;
        }
        .p-cp-row{
            display: flex;
            flex-direction: row;
            margin-top:5px;
            width:100%;
            justify-content: center;
        }
        .p-cp-column{
            display: flex;
            width:160px;
            height:160px;
            margin-left:5px;
            position: relative;
            justify-content: center;
        }
        .p-cp-column .column-value{
            display:flex;
            align-items: center;
            justify-content: center;
            width:160px;
            height:160px;
            margin: 0 auto;
            /*border: 4px solid #eade9b;*/
            box-sizing:border-box;
            border-radius: 20px;
            background-color: #f0f0f0;
            font-size: 25px;
            color: #8d8d8d;
            overflow: hidden;
            border:3px solid rgb(254,219,130);
        }
        .p-cp-column .column-value div{
            padding:5px;
            text-align: center;
        }
        .p-cp-column .column-value img{
            width:160px;
            border-radius: 20px;
            display: block;
        }
        .p-cp-right{
            display: flex;
            width:27%;
            flex-direction: column;
            align-items: center;
            justify-content: center;

        }
        .remember-title{
            font-size:24px;
            margin-bottom: 30px;
        }
        .remember-time-left{
            font-size:50px;
        }
        .remember-success{
            font-size:50px;
            color:rgb(235,198,124);
        }
        #beginBtn {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 228px;
            height: 93px;
            position: relative;
            cursor:pointer;
        }

        #beginBtn img{
            position:absolute;
            top:0;
            left:0;
            z-index:1;
        }
        #beginBtn h3{
            font-size:35px;
            z-index:2;
            color:rgb(111,99,71);
            padding-bottom:3px;
        }


    </style>
    <template id="p-clicking-pairs-t">

        <div class="p-cp">
            <div class="p-cp-left">
                <div class="p-cp-container">
                    <div class="p-cp-row" v-for="(row,i) in matrix">
                        <div class="p-cp-column" :id="'column-'+(row.length*i+j)"  v-for="(pair,j) in row" v-on:click="togglePair(pair,$event)">
                                    <transition
                                            v-on:before-enter="beforeEnter"
                                            v-on:enter="enter"
                                            v-on:leave="leave"
                                            v-bind:css="false"
                                    >
                                        <img class="column-img" :src="backImg(row.length*i+j)" v-show="!pair.valueShow">
                                    </transition>
                                    <transition
                                            v-on:before-enter="beforeEnter"
                                            v-on:enter="enter"
                                            v-on:leave="leave"
                                            v-bind:css="false"
                                    >
                                        <div class="column-value" v-show="pair.valueShow">
                                            <div v-if="pair.type=='text'">{{pair.value}}</div>
                                            <img v-if="pair.type=='img'" :src="faceImg(pair)"></img>
                                        </div>
                                    </transition>
                        </div>
                    </div>
                </div>
            </div>
            <div class="p-cp-right">
                    <div v-if="status=='init'" href="javascript:;" id="beginBtn" v-on:click="countDown">
                        <h3>开始记忆</h3>
                        <img th:src="@{/img/images/class-diminishing-begin.png}" alt="">
                    </div>
                    <h3 v-if="status=='init'" class="remember-time-left"></h3>
                    <p  v-if="status=='begin'||status=='freeze'" class="remember-title" >请在左侧点击进行配对</p>
                    <p v-if="status=='finish'" class="remember-success">匹配成功！</p>
            </div>
        </div>


    </template>
    <script>
        Vue.component('p-clicking-pairs', {
            props: ['practise','practiseOpts','practiseId'],
            data: function () {
                return {
                    optsBefore:null,
                    pairs:[],
                    matrix:[],
                    matchingPairs:[],
                    randomPairs:[],
                    status:'init',
                    to:null,
                    countDownInterval:null,
                    wrongMatchShowTimeout:null,
                    helpShowTimeout:null,
                    timeout3:null,
                    timeout4:null,
                    interval1:null,
                }
            },
            template: '#p-clicking-pairs-t',
            created: function () {
                var self=this;
                self.init();
                hi.bus.$on('help',self.help);
                hi.bus.$on('practise-reset',function(){
                    self.init();
                });
            },
            mounted: function () {
            },
            computed:{
                matchingPairNum:function(){
                    return this.practise.matchingPairNum;
                },
                rowNum:function(){
                    return parseInt(this.matchingPairNum.split("_")[0]);
                },
                columnNum:function(){
                    return parseInt(this.matchingPairNum.split("_")[1]);
                },
                allValueShow:function(){
                    return _.every(this.pairs,{valueShow:true});
                },
                allSuccess:function(){
                    if(this.pairs&&this.pairs.length>0){
                        return _.every(this.pairs,{success:true});
                    }
                    return false;
                }
            },
            methods:{
                beforeEnter: function (el) {
                    el.style.width = 0
                },
                enter: function (el, done) {
                    $(el).animate({ width: '160px'}, { duration: 300 },{ complete: done });
                },
                leave: function (el, done) {
                    $(el).animate({ width: '0'}, { duration: 300 },{ complete: done }).hide();
                },
                init:function(){
                    var self=this;
                    if(self.wrongMatchShowTimeout){
                        clearTimeout(self.wrongMatchShowTimeout);
                    }
                    if(self.helpShowTimeout){
                        clearTimeout(self.helpShowTimeout);
                    }
                    if(self.countDownInterval){
                        clearInterval(self.countDownInterval);
                    }
                    $('#beginBtn').show();//TO SPECITAL:该按钮不能用状态控制
                    $(".remember-time-left").text('');
                    self.status='init';
                    self.pairs=[];
                    self.matrix=[];
                    self.matchingPairs=[];
                    self.randomPairs=[];
                    self.timeLeft=0;
                    var pairs=[];
                    var id=0;
                    for(var i=0;i<(self.rowNum*self.columnNum)/2;i++){
                        var opt=this.practiseOpts[i];
                        var pair1={};
                        pair1.id=id++;
                        pair1.optId=opt.id;
                        pair1.value=opt.pair1;
                        pair1.type=opt.pair1Type;
                        pair1.img=opt.pair1Img;
                        pair1.valueShow=false;
                        pair1.success=false;
                        pair1.part='pair1';
                        var pair2={};
                        pair2.id=id++;
                        pair2.optId=opt.id;
                        pair2.value=opt.pair2;
                        pair2.type=opt.pair2Type;
                        pair2.img=opt.pair2Img;
                        pair2.valueShow=false;
                        pair2.success=false;
                        pair2.part='pair2';
                        pairs.push(pair1);
                        pairs.push(pair2);
                    }
                    pairs=_.shuffle(pairs);
                    var matrix=[];
                    var pairsArr=[];
                    for(var i=0;i<this.rowNum;i++){
                        var row=[];
                        for(var j=0;j<this.columnNum;j++){
                            var p=pairs.pop();
                            row.push(p);
                            pairsArr.push(p);
                        }
                        matrix.push(row);

                    }
                    this.pairs=pairsArr;
                    this.matrix=matrix;
                    this.$nextTick(function(){
                        for(var i=0;i<self.pairs.length;i++){
                            var pair=self.pairs[i];
                        }
                        if(this.rowNum==4){
                            $('.p-cp-column').css('height','120px');
                            $('.p-cp-column .column-value').css('height','120px');
                            $('.p-cp-column .column-value img').css('height','112px');
                        }
                    });
                },
                countDown:function(){
                    var self=this;

                    if(self.status=='init'){
                        $('#beginBtn').hide();//TO SPECITAL:该按钮不能用状态控制
                        _.each(self.pairs,function(p){
                            p.valueShow=true;
                        });
                        var timeLeft=self.rowNum==4?10:5;
                        var countDownInterval=setInterval(function(){
                            $(".remember-time-left").text(timeLeft+'s');
                            timeLeft=timeLeft-1;
                            if(timeLeft<0){
                                clearInterval(countDownInterval);
                                _.each(self.pairs,function(p){
                                    p.valueShow=false;
                                });
                                self.status='begin';
                            }
                        },1000);
                        self.countDownInterval=countDownInterval;
                    }
                },
                togglePair:function(pair,e){
                    var self=this;
                    if(self.status!='begin'){
                        return;
                    }
                    if(pair.success){//已配对则返回
                        return;
                    }
                    if(this.matchingPairsFull()){//如果配对中则返回
                        return;
                    }

                    if(this.findMatchingPair(pair)){//如果配对中存在则删除
                        this.removeMatchingPair(pair);
                    }else{
                        this.matchingPairs.push(pair);//不存在则放入
                    }

                    pair.valueShow=!pair.valueShow;
                    if(this.matchingPairsFull()){
                        var pair1=this.matchingPairs[0];
                        var pair2=this.matchingPairs[1];
                        if(pair1.optId!=pair2.optId){
                            self.status='freeze';
                            self.playAudio('wrong');
                            var wrongMatchShowTimeout=setTimeout(function(){
                                pair1.valueShow=false;
                                pair2.valueShow=false;
                                self.matchingPairs=[];
                                self.status='begin';
                            },1200);
                            self.wrongMatchShowTimeout=wrongMatchShowTimeout;
                        }else{
                            self.playAudio('match');
                            pair1.success=true;
                            pair2.success=true;
                            self.matchingPairs=[];
                        }
                    }
                    if(this.allSuccess){
                        self.playAudio('all');
                        this.finish();
                    }
                },
                matchingPairsFull:function(){
                    return this.matchingPairs.length==2;
                },
                findMatchingPair:function(pair){
                   return _.find(this.matchingPairs,{'id':pair.id});
                },
                removeMatchingPair:function(pair){
                    _.remove(this.matchingPairs,{'id':pair.id});
                },
                help:function(){
                    var self=this;
                    if(self.timeLeft>0||self.status!='begin'){
                        return;
                    }
                    if(self.allValueShow){
                        return;
                    }
                    self.randomPairs=[];
                    var filtered=_.filter(self.pairs,{'valueShow':false});
                    var randomIndex=_.random(0,filtered.length-1);
                    var randomPair1=filtered[randomIndex];
                    randomPair1.valueShow=true;
                    self.randomPairs.push(randomPair1);
                    var randomPair2=_.find(filtered,{optId:randomPair1.optId,valueShow:false});
                    if(randomPair2){
                        self.randomPairs.push(randomPair2);
                    }
                    _.each(self.randomPairs,function(p){
                        p.valueShow=true;
                    });
                    self.status='freeze'
                    var helpShowTimeout=setTimeout(function(){
                        _.each(self.randomPairs,function(p){
                            p.valueShow=false;
                        });
                        self.status='begin';
                    },1200);
                    self.helpShowTimeout=helpShowTimeout;
                },
                backImg: function (index) {
                    var i=index+1+"";
                    i=i.length==1?("0"+i):i;
                    var imgName=this.rowNum+"_"+this.columnNum+"_"+i+".png";
                    var src=hi.root + "img/images/"+imgName;
                    return src;
                },
                faceImg: function (pair) {
                    var src=hi.root + "sys/file/img?type=img_practise_opt_"+pair.part+"_img&id="+pair.optId;
                    return src;
                },
                finish:function(){
                    var self=this;
                    self.status='finish';
                    self.$emit('submit');
                },
                getAudioSrc: function (type) {
                    return hi.root + "audio/"+type+".mp3";
                },
                playAudio:function(type){
                    var self=this;
                    self.$emit('play-audio',type);
                }
            },
            watch: {
                practiseId:function(){
                    this.init();

                }
            }
        })
    </script>
</th:block>
