<th:block th:fragment="index" xmlns:th="http://www.w3.org/1999/xhtml">
    <style>

    </style>
    <template id="index-t">
        <div>
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <img src="hi_img/banner2.jpg">
                    </div>
                    <div class="item">
                        <img src="hi_img/banner.jpg">
                    </div>
                    <div class="item">
                        <img src="img/slide3.png">
                    </div>
                </div>
            </div>
            <div class="scroll-wp">
                <div class="index-new clear-fix container ">
                    <div class="col-md-9 index-new1 clear-fix">
                        <div class="index-new-fl fl">最新加入&nbsp;</div>
                        <div class="scrollDiv fl">
                            <ul>
                                <li><a href="javascript:"><span>上海市</span> 138****0000</a></li>
                                <li><a href="javascript:"><span>上海市</span> 138****0000</a></li>
                                <li><a href="javascript:"><span>上海市</span> 138****0000</a></li>
                                <li><a href="javascript:"><span>上海市</span> 138****0000</a></li>
                                <li><a href="javascript:"><span>上海市</span> 138****0000</a></li>
                                <li><a href="javascript:"><span>上海市</span> 138****0000</a></li>
                            </ul>
                        </div>
                    </div>
                    <!--<div class="index-new-fr col-md-3">
                        <img src="img/img.jpg" alt="">
                    </div>-->
                </div>
            </div>
            <div class="index-wp clear-fix">
                <div class="container">
                    <div class="section-title">
                        <h3 class="text">理念视频</h3>
                        <div class="sub-title">Selected Videos</div>
                    </div>
                    <div class="tabs-container">
                        <ul class="nav nav-tabs nav-tabs1">
                            <li class="active"><a data-toggle="tab" href="#tab-1" aria-expanded="true">1.David Kelley</a></li>
                            <!--<li class=""><a data-toggle="tab" href="#tab-2" aria-expanded="false">2.CityX Project</a></li>
                            <li class=""><a data-toggle="tab" href="#tab-3" aria-expanded="false">3.世界是我们的课堂</a></li>
                            <li class=""><a data-toggle="tab" href="#tab-4" aria-expanded="false">4.Kevin Kelly</a></li>-->
                            <li style="height: 42px;"></li>
                        </ul>
                        <div class="tab-content tab-content1">
                            <div id="tab-1" class="tab-pane active">
                                <div class="panel-body">
                                    <div>
                                        <video id="example_video_1" class="video video-js vjs-default-skin video1" src="img/gamification-2.mp4" poster="img/img2.jpg" width="100%" controls preload="none" data-setup="{}"></video>
                                    </div>
                                    <p class="tab-content1-text">斯坦福大学d.school创办人David Kelley教授对Hi Read寄语：Keep on innovating!</p>
                                </div>
                            </div>
                            <!--<div id="tab-2" class="tab-pane">
                                 <div class="panel-body">
                                     <div>
                                         <video id="example_video_2" class="video video-js vjs-default-skin video1" src="img/gamification-2.mp4" poster="img/img3.jpg" width="100%" controls preload="none" data-setup="{}"></video>
                                     </div>
                                     <p class="tab-content1-text">斯坦福大学d.school创办人David Kelley教授对Hi Read寄语：Keep on innovating!</p>
                                 </div>
                             </div>
                             <div id="tab-3" class="tab-pane">
                                 <div class="panel-body">
                                     <div>
                                         <video id="example_video_3" class="video video-js vjs-default-skin video1" src="img/gamification-2.mp4" poster="img/img2.jpg" width="100%" controls preload="none" data-setup="{}"></video>
                                     </div>
                                     <p class="tab-content1-text">斯坦福大学d.school创办人David Kelley教授对Hi Read寄语：Keep on innovating!</p>
                                 </div>
                             </div>
                             <div id="tab-4" class="tab-pane">
                                 <div class="panel-body">
                                     <div>
                                         <video id="example_video_4" class="video video-js vjs-default-skin video1" src="img/gamification-2.mp4" poster="img/img3.jpg" width="100%" controls preload="none" data-setup="{}"></video>
                                     </div>
                                     <p class="tab-content1-text">斯坦福大学d.school创办人David Kelley教授对Hi Read寄语：Keep on innovating!</p>
                                 </div>
                             </div>-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="index-wp clear-fix index-wp-bg1">
                <div class="container">
                    <div class="section-title">
                        <h3 class="text">经典课程</h3>
                        <div class="sub-title">Classic course</div>
                    </div>
                    <div class="tabs-container tabs-container2">
                        <ul class="nav nav-tabs nav-tabs2">
                            <li class="active">
                                <a data-toggle="tab" href="#tab-11" aria-expanded="true">
                                    <span>level 1-3</span>
                                </a>
                            </li>
                            <li class="">
                                <a data-toggle="tab" href="#tab-12" aria-expanded="true">
                                    <span>level 4-5</span>
                                </a>
                            </li>
                            <li class="">
                                <a data-toggle="tab" href="#tab-13" aria-expanded="true">
                                    <span>level 5-6</span>
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div id="tab-11" class="tab-pane active">
                                <div class="panel-body">
                                    <div class="row course-pt">
                                        <div class="col-md-5 img-max1 text-center"><img src="img/img25.jpg" alt=""></div>
                                        <div class="col-md-7">
                                            <div class="course-text clear-fix">
                                                <h4 class="course-title">同步欧美小学创新课程</h4>
                                                <div class="course-info course-info1">
                                                    在家即可参加硅谷AltSchool等创新学校同类实践课程，商业、思维导图、设计思维、百万阅读等多个系列，视频直播。
                                                </div>
                                                <div class="course-info">
                                                    在家即可参加硅谷AltSchool等创新学校同类实践课程，商业、思维导图、设计思维、百万阅读等多个系列，视频直播。
                                                </div>
                                                <a href="javascript:" class="course-btn read-btn">查看课程</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="course-title1">
                                        <h6 class="course-title1-text">推荐课程</h6>
                                    </div>
                                    <div class="row img-max2">
                                        <div class="col-sm-3">
                                            <a class="course-3" href="javascript:">
                                                <img src="img/img25.jpg" alt="">
                                                <p>巧用思维导图之未来领导力</p>
                                            </a>
                                        </div>
                                        <div class="col-sm-3">
                                            <a class="course-3" href="javascript:">
                                                <img src="img/img25.jpg" alt="">
                                                <p>巧用思维导图之未来领导力</p>
                                            </a>
                                        </div>
                                        <div class="col-sm-3">
                                            <a class="course-3" href="javascript:">
                                                <img src="img/img25.jpg" alt="">
                                                <p>巧用思维导图之未来领导力</p>
                                            </a>
                                        </div>
                                        <div class="col-sm-3">
                                            <a class="course-3" href="javascript:">
                                                <img src="img/img25.jpg" alt="">
                                                <p>巧用思维导图之未来领导力</p>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="tab-12" class="tab-pane">
                                <div class="panel-body">
                                    <div class="row course-pt">
                                        <div class="col-md-5 img-max1 text-center"><img src="img/img26.jpg" alt=""></div>
                                        <div class="col-md-7">
                                            <div class="course-text clear-fix">
                                                <h4 class="course-title">同步欧美小学创新课程</h4>
                                                <div class="course-info course-info1">
                                                    在家即可参加硅谷AltSchool等创新学校同类实践课程，商业、思维导图、设计思维、百万阅读等多个系列，视频直播。
                                                </div>
                                                <div class="course-info">
                                                    在家即可参加硅谷AltSchool等创新学校同类实践课程，商业、思维导图、设计思维、百万阅读等多个系列，视频直播。
                                                </div>
                                                <a href="javascript:" class="course-btn read-btn">查看课程</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="course-title1">
                                        <h6 class="course-title1-text">推荐课程</h6>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <a class="course-3" href="javascript:">
                                                <img src="img/img26.jpg" alt="">
                                                <p>巧用思维导图之未来领导力</p>
                                            </a>
                                        </div>
                                        <div class="col-sm-3">
                                            <a class="course-3" href="javascript:">
                                                <img src="img/img26.jpg" alt="">
                                                <p>巧用思维导图之未来领导力</p>
                                            </a>
                                        </div>
                                        <div class="col-sm-3">
                                            <a class="course-3" href="javascript:">
                                                <img src="img/img26.jpg" alt="">
                                                <p>巧用思维导图之未来领导力</p>
                                            </a>
                                        </div>
                                        <div class="col-sm-3">
                                            <a class="course-3" href="javascript:">
                                                <img src="img/img26.jpg" alt="">
                                                <p>巧用思维导图之未来领导力</p>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="tab-13" class="tab-pane">
                                <div class="panel-body">
                                    <div class="row course-pt">
                                        <div class="col-md-5 img-max1 text-center"><img src="img/img25.jpg" alt=""></div>
                                        <div class="col-md-7">
                                            <div class="course-text clear-fix">
                                                <h4 class="course-title">同步欧美小学创新课程</h4>
                                                <div class="course-info course-info1">
                                                    在家即可参加硅谷AltSchool等创新学校同类实践课程，商业、思维导图、设计思维、百万阅读等多个系列，视频直播。
                                                </div>
                                                <div class="course-info">
                                                    在家即可参加硅谷AltSchool等创新学校同类实践课程，商业、思维导图、设计思维、百万阅读等多个系列，视频直播。
                                                </div>
                                                <a href="javascript:" class="course-btn read-btn">查看课程</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="course-title1">
                                        <h6 class="course-title1-text">推荐课程</h6>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <a class="course-3" href="javascript:">
                                                <img src="img/img25.jpg" alt="">
                                                <p>巧用思维导图之未来领导力</p>
                                            </a>
                                        </div>
                                        <div class="col-sm-3">
                                            <a class="course-3" href="javascript:">
                                                <img src="img/img25.jpg" alt="">
                                                <p>巧用思维导图之未来领导力</p>
                                            </a>
                                        </div>
                                        <div class="col-sm-3">
                                            <a class="course-3" href="javascript:">
                                                <img src="img/img25.jpg" alt="">
                                                <p>巧用思维导图之未来领导力</p>
                                            </a>
                                        </div>
                                        <div class="col-sm-3">
                                            <a class="course-3" href="javascript:">
                                                <img src="img/img25.jpg" alt="">
                                                <p>巧用思维导图之未来领导力</p>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div><a class="more" href="javascript:" target="_blank">点击了解更多课程 ···</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="index-wp clear-fix">
                <div class="container">
                    <div class="section-title section-title1">
                        <h3 class="text">课程体系</h3>
                        <div class="sub-title font-300">让孩子获得进入名校所需的学习力与软实力</div>
                    </div>
                    <div class="index-wp-bg2 row">
                        <img src="img/skill_hexagon.png" alt="">
                    </div>
                    <div class="read-info center">
                        <div class="name">21世纪学生最应当提升的六大技能（6C's）</div>
                        <div class="desc">由美国教育部及苹果和微软等倡导成立的P21联盟发布</div>
                    </div>
                    <ul class="read-ul1 clear-fix">
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
            </div>
            <div class="index-wp advantages">
                <div class="container">
                    <div class="section-title">
                        <h3 class="text">课程等级</h3>
                        <div class="sub-title">Course level</div>
                    </div>
                </div>
                <div class="text-img"><img src="img/course_rank.jpg" alt=""></div>
            </div>
            <div class="index-wp advantages">
                <div class="container">
                    <div class="section-title">
                        <h3 class="text">四大教学优势</h3>
                        <div class="sub-title">Four Combined Teaching Features</div>
                    </div>
                </div>
                <div class="text-img"><img src="img/img18.jpg" alt=""></div>
            </div>
            <div class="index-wp advantages">
                <div class="container">
                    <div class="section-title">
                        <h3 class="text">专业课程设计</h3>
                        <div class="sub-title">Professional Curse Design</div>
                    </div>
                </div>
                <div class="text-img"><img src="img/img19.jpg" alt=""></div>
            </div>
        </div>
    </template>
    <script>
        var index= {
            data: function () {
                return {
                }
            },
            template: '#index-t',
            mixins: [hi.mixin]
        }


    </script>
</th:block>