<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="common/head :: common-head"></th:block>
</head>
<body>
<div id="reset_password_step2" v-cloak class="h100">
    <hi-header></hi-header>
    <div class="container login-wp">
        <div class="col-sm-4" style="float: none; margin: auto;">
            <div class="row">
                <div class="col-md-4">
                    <div class="page-title">
                        <div class="login-title">找回密码</div>
                    </div>
                </div>
            </div>
            <form class="clear-fix pt-10" v-on:submit="submit" novalidate>
                <div class="form-group form-group1">
                    <label for="new_password" class="fa fa-unlock-alt"></label>
                    <input type="password" class="form-control form-control1" id="new_password" placeholder="请输入新密码" v-model="formData.new_password">
                    <i class="fa fa-eye-slash register-icon1"></i>
                </div>
                <div class="form-group form-group1">
                    <label for="new_password_repeat" class="fa fa-unlock-alt"></label>
                    <input type="password" class="form-control form-control1" id="new_password_repeat" placeholder="请确认密码" v-model="formData.new_password_repeat">
                    <i class="fa fa-eye-slash register-icon1"></i>
                </div>
                <button type="submit" class="btn btn-warning btn-warning1">提 交</button>
            </form>
        </div>
    </div>
    <hi-footer></hi-footer>
</div>
<th:block th:include="common/head :: common"></th:block>
<script th:src="@{/controller/user/reset-password-step2.js}"></script>
</body>
</html>
