<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="common/head :: common-head"></th:block>
</head>
<body>
<div id="reset_password_step1" v-cloak class="h100">
    <hi-header></hi-header>
    <div class="container login-wp">
        <div class="col-sm-4" style="float: none; margin: auto;">
            <div class="row">
                <div class="col-md-4">
                    <div class="page-title">
                        <div class="login-title">找回密码</div>
                    </div>
                </div>
            </div>
            <form class="clear-fix pt-10" v-on:submit="submit" novalidate>
                <div class="form-group form-group1">
                    <label for="mobile" class="fa fa-user-o"></label>
                    <input type="text" class="form-control form-control1" id="mobile" placeholder="请输入手机号" v-model="formData.mobile">
                </div>
                <div class="row">
                    <div class="form-group form-group2 col-sm-6">
                        <label for="sms_captcha" class="fa fa-ticket"></label>
                        <input type="text" class="form-control form-control1" id="sms_captcha" placeholder="短信验证码" v-model="formData.sms_captcha">
                    </div>
                    <div class="col-sm-6">
                        <button type="button" class="btn btn-warning btn-warning-register" v-on:click="sendSMSCaptcha($event)">{{smsBtn.content}}</button>
                    </div>
                </div>
                <button type="submit" class="btn btn-warning btn-warning1">提 交</button>
            </form>
        </div>
    </div>
    <hi-footer></hi-footer>
</div>
<th:block th:include="common/head :: common"></th:block>
<script th:src="@{/controller/user/reset-password-step1.js}"></script>
</body>
</html>
