<th:block th:fragment="my-notification" xmlns:th="http://www.thymeleaf.org">
    <style></style>
    <template id="my-notification-tpl">
        <div>
            <div class="learning-title2">我的消息</div>
            <div class="pt-30 clear-fix">
                <div class="layui-tab layui-tab-brief pt-30" lay-filter="docDemoTabBrief">
                    <ul class="layui-tab-title layui-tab-title1">
                        <li class="layui-this">优惠信息</li>
                        <li>学习动态</li>
                        <li>好友动态</li>
                        <li>交易信息</li>
                        <li>系统通知</li>
                    </ul>
                    <div class="layui-tab-content">
                        <div class="layui-tab-item layui-show">
                            <table class="layui-table layui-table1" lay-even="" lay-skin="nob">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th>消息标题</th>
                                    <th>日期</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="gradeX">
                                    <td></td>
                                    <td>消息标题消息标题消息标题消息标题消息标题</td>
                                    <td>2017-06-08 09：09：55</td>
                                </tr>
                                <tr class="gradeX">
                                    <td></td>
                                    <td>消息标题消息标题消息标题消息标题消息标题</td>
                                    <td>2017-06-08 09：09：55</td>
                                </tr>
                                <tr class="gradeX">
                                    <td></td>
                                    <td>消息标题消息标题消息标题消息标题消息标题</td>
                                    <td>2017-06-08 09：09：55</td>
                                </tr>
                                <tr class="gradeX">
                                    <td></td>
                                    <td>消息标题消息标题消息标题消息标题消息标题</td>
                                    <td>2017-06-08 09：09：55</td>
                                </tr>
                                <tr class="gradeX">
                                    <td></td>
                                    <td>消息标题消息标题消息标题消息标题消息标题</td>
                                    <td>2017-06-08 09：09：55</td>
                                </tr>
                                <tr class="gradeX">
                                    <td></td>
                                    <td>消息标题消息标题消息标题消息标题消息标题</td>
                                    <td>2017-06-08 09：09：55</td>
                                </tr>
                                <tr class="gradeX">
                                    <td></td>
                                    <td>消息标题消息标题消息标题消息标题消息标题</td>
                                    <td>2017-06-08 09：09：55</td>
                                </tr>
                                <tr class="gradeX">
                                    <td></td>
                                    <td>消息标题消息标题消息标题消息标题消息标题</td>
                                    <td>2017-06-08 09：09：55</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="layui-tab-item">
                            <table class="layui-table layui-table1" lay-even="" lay-skin="nob">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th>消息标题</th>
                                    <th>日期</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="gradeX">
                                    <td></td>
                                    <td>消息标题消息标题消息标题消息标题消息标题</td>
                                    <td>2017-06-08 09：09：55</td>
                                </tr>
                                <tr class="gradeX">
                                    <td></td>
                                    <td>消息标题消息标题消息标题消息标题消息标题</td>
                                    <td>2017-06-08 09：09：55</td>
                                </tr>
                                <tr class="gradeX">
                                    <td></td>
                                    <td>消息标题消息标题消息标题消息标题消息标题</td>
                                    <td>2017-06-08 09：09：55</td>
                                </tr>
                                <tr class="gradeX">
                                    <td></td>
                                    <td>消息标题消息标题消息标题消息标题消息标题</td>
                                    <td>2017-06-08 09：09：55</td>
                                </tr>
                                <tr class="gradeX">
                                    <td></td>
                                    <td>消息标题消息标题消息标题消息标题消息标题</td>
                                    <td>2017-06-08 09：09：55</td>
                                </tr>
                                <tr class="gradeX">
                                    <td></td>
                                    <td>消息标题消息标题消息标题消息标题消息标题</td>
                                    <td>2017-06-08 09：09：55</td>
                                </tr>
                                <tr class="gradeX">
                                    <td></td>
                                    <td>消息标题消息标题消息标题消息标题消息标题</td>
                                    <td>2017-06-08 09：09：55</td>
                                </tr>
                                <tr class="gradeX">
                                    <td></td>
                                    <td>消息标题消息标题消息标题消息标题消息标题</td>
                                    <td>2017-06-08 09：09：55</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="layui-tab-item">
                            <table class="layui-table layui-table1" lay-even="" lay-skin="nob">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th>消息标题</th>
                                    <th>日期</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="gradeX">
                                    <td></td>
                                    <td>消息标题消息标题消息标题消息标题消息标题</td>
                                    <td>2017-06-08 09：09：55</td>
                                </tr>
                                <tr class="gradeX">
                                    <td></td>
                                    <td>消息标题消息标题消息标题消息标题消息标题</td>
                                    <td>2017-06-08 09：09：55</td>
                                </tr>
                                <tr class="gradeX">
                                    <td></td>
                                    <td>消息标题消息标题消息标题消息标题消息标题</td>
                                    <td>2017-06-08 09：09：55</td>
                                </tr>
                                <tr class="gradeX">
                                    <td></td>
                                    <td>消息标题消息标题消息标题消息标题消息标题</td>
                                    <td>2017-06-08 09：09：55</td>
                                </tr>
                                <tr class="gradeX">
                                    <td></td>
                                    <td>消息标题消息标题消息标题消息标题消息标题</td>
                                    <td>2017-06-08 09：09：55</td>
                                </tr>
                                <tr class="gradeX">
                                    <td></td>
                                    <td>消息标题消息标题消息标题消息标题消息标题</td>
                                    <td>2017-06-08 09：09：55</td>
                                </tr>
                                <tr class="gradeX">
                                    <td></td>
                                    <td>消息标题消息标题消息标题消息标题消息标题</td>
                                    <td>2017-06-08 09：09：55</td>
                                </tr>
                                <tr class="gradeX">
                                    <td></td>
                                    <td>消息标题消息标题消息标题消息标题消息标题</td>
                                    <td>2017-06-08 09：09：55</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="layui-tab-item">
                            <table class="layui-table layui-table1" lay-even="" lay-skin="nob">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th>消息标题</th>
                                    <th>日期</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="gradeX">
                                    <td></td>
                                    <td>消息标题消息标题消息标题消息标题消息标题</td>
                                    <td>2017-06-08 09：09：55</td>
                                </tr>
                                <tr class="gradeX">
                                    <td></td>
                                    <td>消息标题消息标题消息标题消息标题消息标题</td>
                                    <td>2017-06-08 09：09：55</td>
                                </tr>
                                <tr class="gradeX">
                                    <td></td>
                                    <td>消息标题消息标题消息标题消息标题消息标题</td>
                                    <td>2017-06-08 09：09：55</td>
                                </tr>
                                <tr class="gradeX">
                                    <td></td>
                                    <td>消息标题消息标题消息标题消息标题消息标题</td>
                                    <td>2017-06-08 09：09：55</td>
                                </tr>
                                <tr class="gradeX">
                                    <td></td>
                                    <td>消息标题消息标题消息标题消息标题消息标题</td>
                                    <td>2017-06-08 09：09：55</td>
                                </tr>
                                <tr class="gradeX">
                                    <td></td>
                                    <td>消息标题消息标题消息标题消息标题消息标题</td>
                                    <td>2017-06-08 09：09：55</td>
                                </tr>
                                <tr class="gradeX">
                                    <td></td>
                                    <td>消息标题消息标题消息标题消息标题消息标题</td>
                                    <td>2017-06-08 09：09：55</td>
                                </tr>
                                <tr class="gradeX">
                                    <td></td>
                                    <td>消息标题消息标题消息标题消息标题消息标题</td>
                                    <td>2017-06-08 09：09：55</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="layui-tab-item">
                            <table class="layui-table layui-table1" lay-even="" lay-skin="nob">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th>消息标题</th>
                                    <th>日期</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="gradeX">
                                    <td></td>
                                    <td>消息标题消息标题消息标题消息标题消息标题</td>
                                    <td>2017-06-08 09：09：55</td>
                                </tr>
                                <tr class="gradeX">
                                    <td></td>
                                    <td>消息标题消息标题消息标题消息标题消息标题</td>
                                    <td>2017-06-08 09：09：55</td>
                                </tr>
                                <tr class="gradeX">
                                    <td></td>
                                    <td>消息标题消息标题消息标题消息标题消息标题</td>
                                    <td>2017-06-08 09：09：55</td>
                                </tr>
                                <tr class="gradeX">
                                    <td></td>
                                    <td>消息标题消息标题消息标题消息标题消息标题</td>
                                    <td>2017-06-08 09：09：55</td>
                                </tr>
                                <tr class="gradeX">
                                    <td></td>
                                    <td>消息标题消息标题消息标题消息标题消息标题</td>
                                    <td>2017-06-08 09：09：55</td>
                                </tr>
                                <tr class="gradeX">
                                    <td></td>
                                    <td>消息标题消息标题消息标题消息标题消息标题</td>
                                    <td>2017-06-08 09：09：55</td>
                                </tr>
                                <tr class="gradeX">
                                    <td></td>
                                    <td>消息标题消息标题消息标题消息标题消息标题</td>
                                    <td>2017-06-08 09：09：55</td>
                                </tr>
                                <tr class="gradeX">
                                    <td></td>
                                    <td>消息标题消息标题消息标题消息标题消息标题</td>
                                    <td>2017-06-08 09：09：55</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </template>
    <script>
        // 定义路由组件
        var MyNotification = {
            data: function () {
                return {}
            },
            template: '#my-notification-tpl'
        }
    </script>
</th:block>