<th:block th:fragment="reset-password" xmlns:th="http://www.thymeleaf.org">
    <style></style>
    <template id="reset-password-tpl">
        <div>
            <div class="learning-title2">我的消息</div>
            <div class="pt-30 clear-fix">
                <form class="layui-form layui-form1 pt-r01">
                    <div class="layui-form-item">
                        <label class="layui-form-label">当前密码</label>
                        <div class="layui-input-inline">
                            <input type="password" name="oldPassword" lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input"
                                   v-model="formData.oldPassword">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">新密码</label>
                        <div class="layui-input-inline">
                            <input type="password" name="newPassword" lay-verify="newPassword" placeholder="请输入密码" autocomplete="off" class="layui-input"
                            v-model="formData.newPassword">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">确认密码</label>
                        <div class="layui-input-inline">
                            <input type="password" name="newPasswordRepeat" lay-verify="newPasswordRepeat" placeholder="请输入密码" autocomplete="off" class="layui-input"
                            v-model="formData.newPasswordRepeat">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button class="layui-btn layui-btn-normal" lay-submit lay-filter="resetPassword"
                                    :class="{'layui-btn-disabled': isFormSubmitting}">提交</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </template>
    <script>
        var layuiForm = layui.form();
        var layuiLayer = layui.layer;
        // 定义路由组件
        var ResetPassword = {
            data: function () {
                return {
                    formData: {
                        oldPassword: '',
                        newPassword: '',
                        newPasswordRepeat: ''
                    },
                    isFormSubmitting: false
                }
            },
            template: '#reset-password-tpl',
            mounted: function () {
                this.layuiFormVerify();
                this.layuiFormSubmit();
            },
            methods: {
                layuiFormSubmit: function () {
                    var vm = this;

                    // 表单提交
                    layuiForm.on('submit(resetPassword)', function (data) {
                        // 不使用传入进来的 data，使用 vue 代理的 data
                        if (vm.isFormSubmitting) {
                            return false;
                        }
                        var formData = vm.$data.formData;
                        vm.isFormSubmitting = true;
                        hi.ax.post('/user/vipcenter/reset-password', formData).then(function (response) {
                            var data = response.data;

                            var title = '';
                            var icon = 0;
                            if(data.status == 'success'){
                                title = '修改成功';
                                icon = 1;
                            } else {
                                title = '修改失败';
                                icon = 2;
                            }
                            layuiLayer.msg(title, {
                                offset: '0',
                                icon: icon,
                                time: 3000
                            })
                            vm.isFormSubmitting = false;
                        },function (response) {
                            vm.isFormSubmitting = false;
                        })
                        return false;
                    })
                },
                layuiFormVerify: function () {
                    var vm = this;
                    var $data = vm.$data;

                    layuiForm.verify({
                        newPassword: function (value) {
                            if (!value) {
                                return '密码不能为空';
                            }
                        },
                        newPasswordRepeat: function (value) {
                            if (!value) {
                                return '密码不能为空';
                            }
                            if(value != $data.formData.newPassword){
                                return '两次输入密码不一样';
                            }
                        }
                    });
                }
            }
        }
    </script>
</th:block>