@charset "utf-8";
body,html{height: 100%;overflow: hidden;}
body{background: #E5E5E5;}
.tr, .a-right{text-align:right;}
.nowrap,.nobr{white-space:nowrap;word-wrap:normal;}
/* quick_links */
.quick_links_wrap,.mui-mbar-tabs{height:100%;width:420px;right:0;position:fixed;bottom:0;z-index:9;-webkit-transition:width linear .4s;-moz-transition:width linear .4s;-ms-transition:width linear .4s;transition:width linear .4s;_position:fixed;_bottom:auto;}
.quick_links_wraper.quick_links_dockright{margin-left:0;left:auto;right:4px;}
.mui-mbar-tabs i{font-size: 16px;color: #fff;}

.login_order,.login_favorite{display:inline-block;cursor:pointer;vertical-align:top;position:absolute;}
.quick_links_panel{width:60px;height:100%;position:absolute;background:#373E46;z-index:2;top:0;right:0;}
.quick_links_panel a{display:block;line-height:1.5em;text-decoration:none;color:#d8d8d8;font-size:14px;overflow:hidden;background-color:#373E46;position:relative;margin-bottom:5px;padding:8px 0;text-align: center;}
.quick_links_panel .quick_toggle{background:#373E46;}
.quick_links_panel .mp_tooltip{height:38px;line-height:38px;width:92px;position:absolute;z-index:2;left:-121px;top:0;background:#373E46;color:#d8d8d8;text-align:center;display:block;visibility:hidden;}
.quick_links_panel .mp_qrcode{padding:10px;width:148px;top:-45px;background:#fff;z-index:3;position:absolute;left:-148px;display:none;}
.quick_links_panel .icon_arrow_white{position:absolute;right:-5px;top:65px;width:5px;height:12px;color: #fff;}
.quick_links_panel .icon_arrow_right_black{position:absolute;right:-5px;top:11px;width:5px;height:12px;overflow:hidden;}
.quick_toggle .return_top{display:none;}
.quick_links_allow_gotop .return_top{display:block;}
.quick_links{background:#373E46;}
.quick_links a.message_list{color:#fff;}
.quick_links_min .quick_links_panel{right:480px;}
.quick_links li,.quick_toggle li{position:relative;display:block;left:0;top:0;}
.history_list,.leave_message,.mpbtn_histroy,.mpbtn_wdsc,.mpbtn_recharge{margin-bottom:6px;}
.quick_links a:hover, .quick_links a.current,.quick_toggle a:hover{background:#D62D40;text-decoration:none;}
.quick_links a.message_list .span{width:16px;display:block;height:48px;margin:38px 0 0 14px;cursor:pointer;}
.quick_links a.message_list .cart_num{width:21px;height:21px;display:block;border-radius:50%;background:#D62D40;text-align:center;line-height:21px;margin:9px 0 0 10px;cursor:pointer;color:#fff;}
.quick_links i.setting{background-position:0 0;width:18px;height:19px;top:10px;left:11px;}
.quick_links a:hover i.setting,.quick_links .current i.setting{background-position:-33px 0;}
.quick_links i.message{background-position:0 -29px;width:23px;height:18px;top:11px;left:9px;}
.quick_links a:hover i.message,.quick_links .current i.message{background-position:-33px -29px;}
.quick_links i.cart{background-position:0 -29px;}
.quick_links i.view{width:18px;height:18px;background-position:0 -57px;top:10px;left:11px;}
.quick_links a:hover i.view,.quick_links .current i.view{background-position:-33px -57px;}
.quick_links .qa{width:18px;height:15px;background-position:0 -85px;top:11px;left:11px;}
.quick_links a:hover i.qa,.quick_links .current i.qa{background-position:-33px -85px;}
.quick_links .zuji{width:11px;height:24px;background-position:-4px -110px;top:8px;left:14px;}
.quick_links a:hover i.zuji,.quick_links .current i.zuji{background-position:-36px -110px;}
.quick_links .chongzhi{width:35px;height:35px;top:2px;left:3px;}
.quick_links .wdsc{width:35px;height:35px;top:2px;left:3px;}
.quick_toggle .mpbtn_qrcode{width:18px;height:18px;top:11px;left:11px;background-position:0 -302px;}
.quick_toggle .top{background-position:0 -201px;width:17px;height:14px;top:12px;left:12px;}
.quick_toggle a:hover .top, .quick_links a.current .top{background-position:-33px -201px;}
.quick_toggle i.kfzx{width:15px;height:16px;top:11px;left:12px;background-position:0 -175px;}
.quick_toggle a:hover i.kfzx{background-position:-33px -175px;}
/* quick_links_pop */
.quick_links_pop{position:absolute;top:0;right:0;}
.quick_links_pop .arrow, .quick_links_pop .arrow i{display:none;border-color:transparent #ddd;border-style:dashed solid;border-width:12px 0 12px 12px;font-size:0;height:0;width:0;position:absolute;left:100%;top:12px;}
.quick_links_pop .arrow i{border-color:transparent #f9fafc;margin:-12px 0 0 -13px;left:0;top:0;}
.quick_links_pop .fix_bg{display:none;border-top-width:0;border-radius:0 0 3px 3px;margin:0 0 -4px -250px;height:2px;width:500px;overflow:hidden;position:absolute;bottom:0;left:50%;}
.quick_links_pop .pop_panel{font-size:12px;width:100%;height:100%;position:relative;}
.quick_cart_list, .quick_history_list, .quick_links_pop .links, .quick_my_qlinks, .quick_message_list,.quick_leave_message,.quick_mpbtn_histroy,.quick_mpbtn_wdsc,.quick_mpbtn_recharge{position:absolute;width:360px;left:0;top:0;background:#fff;height:100%;display:block;}
.quick_cart_list .user_cart_inner, .quick_history_list .history_slider{display:block;border:0;margin:0;position:static;}
.quick_cart_list .user_cart_inner .del{display:none;}
.quick_history_list .title i{background-position:-170px -34px;}
.quick_leave_message .title i{background-position:-160px 0;}
.quick_leave_message .types{font-size:0;position:absolute;left:148px;top:18px;white-space:nowrap;}
.quick_leave_message .types input, .quick_leave_message .types label{font-size:12px;margin-right:20px;vertical-align:middle;white-space:nowrap;}
.quick_leave_message .types input{margin:-2px 3px 0 0;height:13px;width:13px;*margin-top:0;}
.quick_leave_message .txt{padding:15px 0;}
.quick_leave_message .txt textarea{display:block;background:#fff;border:1px solid #e8e8e8;border-radius:3px;box-shadow:0 1px 0 #fff, inset 0 1px 4px rgba(0,0,0,.1);margin:0 auto;padding:8px;height:68px;width:90%;}
.quick_leave_message .token{padding:0 0 14px 16px;height:26px;}
.quick_leave_message .token input{background:#fff;border:1px solid #ddd;padding:3px 4px;width:76px;vertical-align:middle;}
.quick_leave_message .token img{margin-left:5px;vertical-align:middle;}
.quick_leave_message .btns{float:right;margin-top:-42px;padding-right:16px;}
.quick_leave_message .btn{background-position:0 -356px;cursor:pointer;font-size:0;padding-left:20px;text-shadow:0 1px 0 #355ba9;overflow:visible;}
.quick_leave_message .btn:hover{background-position:0 -386px;}
.quick_leave_message .btn span{background-position:100% -356px;font-size:12px;padding-right:20px;*height:29px;}
.quick_leave_message .btn:hover span{background-position:100% -386px;}
.quick_links_pop .no_data{color:#333;font-size:14px;padding:35px 10px;text-align:center;}
.quick_links_pop .no_data i{display:inline-block;margin:0 10px 0 0;height:36px;width:60px;vertical-align:middle;}
.quick_links_pop .links li{border-top:1px solid #f1f1f1;vertical-align:top;}
.quick_links_pop .links a{display:block;background:#FCFCFC;color:#333;font-size:14px;padding:12px 15px;}
.quick_links_pop .links a:hover{background-color:#F2F3F4;color:#4467a7;}
.quick_links_pop .links .tips{float:right;color:#61c2ed;font-size:12px;}
.quick_my_qlinks .title i{background-position:-200px 0;height:22px;width:22px;}
.quick_message_list .title i{background-position:-200px -34px;height:22px;width:22px;}
.quick_message_list .no_data i{height:45px;width:62px;}
/*修改*/
.ibar_plugin_title{height:38px;line-height:38px;border-bottom:1px solid #dedede;color:#333;font-size:14px;font-weight:700;width:267px;margin:0 auto;}
.ibar_closebtn{width:60px;position:absolute;bottom:4px;right:-60px;z-index: 999;text-align: center;padding: 18px 0;line-height: 1em;}
a.ibar_closebtn:hover{background: #D62D40;}
.ibar_plugin_content{position:absolute;width:100%;top:0;bottom:0;overflow:hidden;}
.ibar_cart_group{width:250px;padding:0 20px 0 10px;background:#fff;}
.ibar_cart_group_header{height:34px;line-height:34px;border-bottom:1px solid #dedede;}
.ibar_cart_group_title{float:left;font-size:14px;}
.ibar_cart_group_header a{float:right;color:#D62D40}
.ibar_cart_group_header a:hover{text-decoration:underline;}
.cart_item{padding:15px 0;border-bottom:1px dotted #ddd;}
.cart_item_pic{position:relative;float:left;width:87px;height:87px;}
.cart_item_pic img{width:85px;height:85px;border:1px solid #f4f4f4;}
.cart_item_desc{float:left;width:150px;padding:3px 0 0 10px;}
.cart_item_name{display:inline-block;width:100%;height:36px;overflow:hidden;line-height:18px;color:#5c5c5c;}
.cart_item_sku{width:160px;height:24px;line-height:24px;color:#999;}
.cart_price{color:#D62D40;font-weight:700;}
.cart_handler{position:absolute;height:100px;bottom:0;width:100%;background:#fff;}
.cart_handler_header{width:260px;margin:8px 10px;float:left;}
.cart_handler_left{float:left;}
.cart_handler_right{float:right;font-weight:700;font-size:16px;color:#D62D40;}
.cart_go_btn{display:block;height:33px;line-height:33px;font-size:19px;color:#fff;text-align:center;text-decoration:none;background:#D62D40;width:260px;margin:0 10px;float:left;}
.cart_go_btn:hover{color:#fff;}
.ia-head-list{height:66px;width:244px;margin-left:15px;background:#f3f3f3;overflow:hidden;zoom:1;margin-top:15px;color:#4a4a4a;}
.ia-head-list a{color:inherit;}
.ia-head-list .pl{width:80px;border-right:dashed 1px #ccc;height:47px;margin-top:10px;text-align:center;float:left;}
.ia-head-list .num{font-size:16px;height:26px;}
.ia-head-list .money{border-right:0;}
.ga-expiredsoon{width:244px;margin-left:15px;margin-top:20px;}
.ga-expiredsoon .es-head{color:#5c5c5c;height:13px;border-left:3px solid #5c5c5c;padding-left:13px;}
.ia-none{text-align:center;padding-top:150px;padding-bottom:30px;font-size:16px;color:#797979;}
.jiaru{margin-top:40px;}
.ibar-history-head{position:relative;font-size:14px;border-bottom:solid 1px #dedede;height:37px;line-height:37px;width:255px;margin-left:10px;}
.ibar-history-head a{float:right;color:#D62D40;}
.ibar-history-head a:hover{text-decoration:underline;}
.imp_item{width:255px;padding-top:10px;border-bottom:dashed 1px #d5d5d5;overflow:hidden;padding-bottom:15px;margin-bottom:-1px;margin-left:10px;}
.imp_item .pic{float:left;display:inline;margin-right:10px;}
.imp_item .tit{height:40px;overflow:hidden;width:140px;word-break:break-all;}
.imp_item .tit a{color:#5c5c5c;line-height:18px;}
.imp_item .tit a:hover{color:#D62D40;line-height:18px;}
.imp_item .price{color:#D62D40;font-weight:700;margin-bottom:10px;}
.imp_item .price em{font-size:14px;}
.imp_item .imp-addCart{background:#f32166;background:-webkit-linear-gradient(top,#fb2f72,#D62D40);color:#fff;width:90px;height:28px;float:left;display:inline;line-height:28px;text-align:center;}
.sc{float:right;line-height:22px;margin-right:7px;}
.ibar_recharge_form{width:220px;margin:0 auto;padding:15px 0;}
.ibar_recharge-field{border:1px solid #ddd;height:30px;margin-bottom:10px;}
.ibar_recharge-field label{width:40px;text-align:center;color:#fff;background:#737373;line-height:30px;float:left;}
.ibar_recharge-fl{position:relative;float:left;width:170px;padding-left:5px;}
.ibar_recharge-iwrapper{padding-top:7px;}
.ibar_recharge-iwrapper input{border:0;outline:0 none;}
i.ibar_recharge-contact{width:13px;height:14px;top:8px;right:5px;cursor:pointer;}
.ibar_recharge-mod{line-height:30px;color:#737373;font-weight:700;cursor:pointer;-moz-user-select:none;-webkit-user-select:none;-ms-user-select:none;}
i.ibar_recharge-arrow{width:6px;height:3px;top:14px;right:8px;cursor:pointer;}
.ibar_recharge-vbox{border:1px solid #ddd;background:#fff;position:absolute;left:0;top:30px;width:177px;}
.ibar_recharge-vbox li{float:left;width:68px;border-right:1px solid #ddd;padding:7px 10px;line-height:1;cursor:pointer;}
.ibar_recharge-vbox li.sanwe{border:0;}
.ibar_recharge-vbox .selected, .ibar_recharge-vbox li:hover{background:#ececec;}
.ibar_recharge-btn{text-align:center;padding-top:3px;}
.ibar_recharge-btn input{border:0;color:#fff;display:inline-block;width:115px;height:31px;font-size:16px;background:#f32166;background:-webkit-linear-gradient(top,#fb2f72,#D62D40);cursor:pointer;}
.ibar_recharge-btn input:hover{background:-webkit-linear-gradient(top,#fa578c,#f73776);}
.ibar_login_box{width:267px;height:185px;padding:10px;background:#fff;box-shadow:0 0 5px rgba(0,0,0,.4);border-radius:5px 0 0 5px;border-left:1px solid #ccc\0;border-top:1px solid #ccc\0;border-bottom:1px solid #ccc\0;z-index:3;position:absolute;top:0;left:-267px;display:none;}
.ibar_login_box .avatar_box{overflow:hidden;height:120px;}
.status_login .avatar_imgbox{float:left;margin:6px 20px 0 5px;display:inline;}
.ibar_login_box .avatar_imgbox{width:100px;height:100px;border-radius:50%;overflow:hidden;}
.ibar_login_box .avatar_box p{font-size:14px;color:#333;text-align:center;}
.status_login .user_info{overflow:hidden;color:#333;padding-top:30px;line-height:24px;width:140px;float:left;}
.status_login .user_info li{height:24px;line-height:24px;overflow:hidden;white-space:nowrap;}
.ibar_login_box .login_btnbox{width:267px;height:79px;border-top:1px dotted #d5d5d5;overflow:hidden;padding-top:15px;clear:both;}
.ibar_login_box .login_btnbox a{width:94px;height:30px;line-height:30px;text-align:center;border:1px solid;color:#333;text-decoration:none;float:left;background-position:0 -408px;background-repeat:repeat-x;border-color:#e9e9e9;}
.ibar_login_box .login_btnbox .login_order{margin:0 10px 0 35px;}
.ibar_login_box .login_btnbox a:hover{text-decoration:none;background-position:0 -366px;border-color:#fccadb;background:none;}
.ibar_login_box .login_btnbox .login_favorite{border-color:#e9e9e9}
.ibar_login_box .icon_arrow_white{position:absolute;right:-5px;top:15px;width:5px;height:9px;background-position:0 -253px;color: #fff;}

.content1,.content2,.content3,.content4,.content5{display: none;}
.class-right-menu{display: block;}

/*left*/
.class-left{width: calc(100% - 60px);height: 100%;position: relative;z-index: 11;padding: 0 20px;}
.class-left-title,.class-left-content,.class-left-bottom{position: relative;}
.class-left-title,.class-left-bottom{height: 50px;}
.class-left-content{height: calc(100% - 100px);background: #fff;}
a.class-btn1{position: absolute;right: 0;padding: 5px 20px;top: 8px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;}
a.class-btn{background: #D62D40;color: #fff;}
a.class-btn:hover{background: #f32166;}
a.class-btn i{}
.class-title-text1{font-size: 18px;padding-left: 15px;line-height: 35px;}
.class-btn2{padding: 5px 10px;}
.class-btn3{padding: 5px;}
.class-btn4{margin: 15px 0 0 89px;}
.scroll{overflow: hidden;}
.class-pr i{color: #666;}

.class-menu1{height: 100%;overflow: auto;}
.class-menu1 i{color: #666;padding-right: 10px;}
.class-menu1 h4{padding: 10px 15px;font-size: 16px;border-bottom: solid 1px #ddd;color: #333;}
.tab-pr-ul a{display: block;line-height: 2.5em;font-size: 14px;}
.tab-pr-ul a:hover i{color: #fff;}
.class-menu1 .panel-body{padding: 5px 10px;}

.class-menu1 .fa-check-circle,.class-menu1 .fa-adjust{color: #46C37B;}
.class-menu1 dl{margin: 0;}
::-webkit-scrollbar-track{background-color:#F5F5F5}
::-webkit-scrollbar{width:6px;background-color:#F5F5F5}
::-webkit-scrollbar-thumb{background-color:#eee}

.class-menu2{padding: 10px;height: 100%;overflow: auto;}
.class-menu2 i{color: #666;}
.class-menu2 p{text-indent: 2em;}
.class-menu3{height: 100%;overflow: auto;padding: 10px;}
.class-menu3 i{color: #666;}
.class-menu3-tab{width: 100%;}
.class-menu3-tab td,.class-menu3-tab th{padding: 15px 5px;border: solid 1px #eee;}
.class-menu3-tab tr:nth-of-type(2n){background: #FAFAFA;}
.class-menu3-tab tr:hover{background: #eee;}
.class-menu3 .download-url{display: block;text-align: center;}
.class-menu3 a.download-url:hover i{color: #D62D40;}

.choice-ts{position: absolute;right: 20px;top: 30px;}
.choice-btn{text-align: center;padding-top: 30px;}
.choice-title{text-align: center;padding: 50px 10% 0;}
.choice-title h4{font-size: 40px;line-height: 1.8em;}
.choice-title p{font-size: 16px;}

.choice-tm{text-align: center;padding: 50px 10px;}
.pt-b10{padding: 10px;}
.choice-tm-list{display: inline-block;border: solid 4px #eee;width: 430px;height: 320px;position: relative;cursor: pointer;color: #999;padding: 28px;margin: 0 10px;}
.choice-tm-content{font-size: 60px;line-height: 2em;background: #f6f6f6;height: 100%;}
.choice-tm-check{width: 100%;text-align: center;position: absolute;bottom: 50px;left: 0;font-size: 60px;line-height: 1em;}

.choice-tm-hover{border-color: #4bd37b;}
.choice-tm-hover .choice-tm-check{color: #4bd37b;}
.choice-tm-hover .choice-tm-content{color: #D62D40;}

#elements-container{text-align:center;padding-top: 20px;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}
.draggable-element{display:inline-block;width:240px;height:240px;border:4px solid #eee;margin:10px;cursor:move;position: relative;padding: 20px;}
.draggable-element:hover{border-color: #D62D40;}
.elements-num{width: 100%;position: absolute;bottom: 30px;left: 0;text-align: center;}
.elements-num span{width: 25px;height: 25px;background: #D62D40;line-height: 25px;color: #fff;font-weight: bold;font-size: 16px;
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    border-radius:50px;}
.elements-content{background: url(../img/img21.jpg) no-repeat;background-size: 100% 100%;height: 100%;padding: 20px;}
.draggable-element-text{text-indent: -9999px;}

/*game*/
#container {width: 1080px;text-align: center;position: relative;overflow: hidden;margin: 0 auto;}
#birdImg {width: 466px;background: #373E46;display: inline-block;padding: 0 0 10px 10px;height: 466px;}
.imgContainer {width: 104px;height: 104px;margin: 10px 10px 0 0;background: #D62D40;}
.imgContainer img {width: 100%;}
#control{}
/***图片翻转部分***/
.imgContainer {float: left;perspective: 1000px;}
.list {position: absolute;}
.in {z-index: 10;animation-timing-function: ease-out;animation-duration: 300ms;}
.out {animation-timing-function: ease-in;animation-duration: 200ms;}
.viewport-flip {transform-style: preserve-3d;position: absolute;width: 100%;}
.flip {-webkit-backface-visibility: hidden;-webkit-transform: translateX(0);}
.flip.out {transform: rotateY(-90deg) scale(.9);animation: flipouttoleft 175ms;}
.flip.in {animation: flipintoright 200ms;}
@keyframes flipouttoleft {from {transform: rotateY(0deg);}
    to {transform: rotateY(-90deg) scale(.9);}
}
@keyframes flipintoright {from {transform: rotateY(90deg) scale(.9);}
    to {transform: rotateY(0deg);}
}
.mask_every {position: fixed;top: 0;left: 0;right: 0;bottom: 0;z-index: 100;transform: scale(0);-ms-transform: scale(0);background: rgba(0,0,0,0.5);}
#mask.block, #success.block, #pause.block {transform: scale(1);animation: display 2s linear;animation-fill-mode: backwards;-ms-transform: scale(1);-ms-animation: display 2s linear;-ms-animation-fill-mode: backwards;}
@keyframes display {0% {transform:scale(0);}
    100% {position:fixed;z-index:100;left:0;top:0;right:0;bottom:0;background:rgba(43,0,1,.3);transform:scale(1);}
}
/***控制按钮*****/
/****倒计时部分****/
#control {position: absolute;top: 0;z-index: 900;right: 30px;width: 200px;height: 380px}
#control li{text-align: center;cursor: pointer;border-bottom: 1px solid #eee;color: #333;list-style: none;background: #f3f5f7;font-size: 20px;line-height: 2.5em;}
#control li:hover{background: #D62D40;color: #fff;}
/*暂停游戏弹出框***/
.pause {position: relative;}
.mask_info{font-size: 40px;color: red;text-align: center;background: #fff;width: 500px;height: 300px;line-height: 300px;margin: 200px auto;}
.game-pop{padding-top: 60px;}
.game-pop1 a{background: #D62D40;color: #fff;font-size: 16px;padding: 10px 35px;line-height: 1.5em;}